{% include 'layout/header.html' %}

<main class="container mt-4">
    <div class="row">
        <div class="col-md-4 mt-2 mt-md-none">
            <form id="uploadForm" enctype="multipart/form-data" method="post">
                <div class="mb-3">
                    <h5 class="text-primary mb-2">Upload Video Latihan Sit up</h5>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="namaUpload" name="nama" placeholder="Masukkan Nama"
                        required>
                </div>
                <div class="row mb-3">
                    <div class="col-9">
                        <input type="file" class="form-control" name="file" id="file" required>
                    </div>
                    <div class="col-3">
                        <button type="button" id="uploadButton" class="btn btn-primary w-100">Upload</button>
                    </div>
                </div>
            </form>
            <hr class="my-3">
            <div class="d-grid">
                <h5 class="text-primary mb-2">Latihan Sit up Realtime</h5>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mulaiModal">Mulai
                    Latihan Realtime</button>
            </div>
        </div>
    </div>
</main>


{% include 'layout/footer.html' %}